<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
    <div class="max-w-3xl mx-auto">
        <ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
            <% @boards.each do |board| %>
                <li class="col-span-1 bg-white rounded-lg shadow divide-y divide-gray-200">
                    <div class="w-full flex items-center justify-between p-6 space-x-6">
                    <div class="flex-1 truncate">
                        <div class="flex items-center space-x-3">
                        <h3 class="text-gray-900 text-sm font-medium truncate"><%=  board.name %></h3>
                        </div>
                    </div>
                    </div>
                    <div>
                    <div class="-mt-px flex divide-x divide-gray-200">
                        <div class="w-0 flex-1 flex">
                            <%= link_to edit_board_path(board) , class: "relative -mr-px w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-gray-700 font-medium border border-transparent rounded-bl-lg hover:text-gray-500" do %>
                                <span class="ml-3">Edit</span>
                            <% end %>
                        </div>
                        <div class="-ml-px w-0 flex-1 flex">
                            <%= link_to board_path(board), data: { "turbo-method": :delete }, class: "relative w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-gray-700 font-medium border border-transparent rounded-br-lg hover:text-gray-500" do %>
                                <span class="ml-3 text-red-700">Delete</span>
                            <% end %>
                        </div>
                    </div>
                    </div>
                </li>
            <% end %>
        </ul>
    </div>
</div>